table { 
        width: 100%; 
        border-collapse: collapse; 
}

/* Zebra striping */
tr:nth-of-type(odd) { 
        background: #eee; 
}

th { 
        background: #333; 
        color: white; 
        font-weight: bold; 
}

td, th { 
        padding: 6px; 
        border: 1px solid #ccc; 
        text-align: left; 
}

.sailable, .xs-main {
    background-color: #B0F2B6;
}

.xs-main {
    display: none;
}

.links {
  margin: 30px 0;
  display: flex;
  justify-content: space-evenly;
}

@media 
only screen and (max-width: 900px),
(max-device-width: 1024px)  {

    body {
        font-size: 40px;
    }

    table {      
        display: none;
    }

    .xs-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #B0F2B6;
    }

    .xs-main > div {
        border-bottom: 1px solid #eee;
        padding: 6px;
    }

    div.day {
        border-top: 10px solid #eee;
    }
    
}

